.card-container{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    align-items: center;
    justify-content: start;
    border-radius: 12px;
    margin: 12px;
}

.desc-div{
    margin: 10px 8px 0 4px;
    
}

.card-name{
    text-align: justify;
    font-size: 16px;
    font-weight: bold;
}
.card-phone{
    text-align: justify;
}
.card-img{
    width: 20%;
    border-radius: 50px;
    background-color: beige;
    align-items: center;
    margin: 0 6px;
}
.bold{
    font-weight: bold;
    color: chocolate;
}